@using Library.Areas.Admin.Models
@model UpdateAuthorModel
<div class="modal fade add-contact new-member" id="update-author" data-bs-backdrop="static" role="dialog" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h6 class="modal-title fw-500" id="staticBackdropLabel">Cập nhật thông tin tác giá</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body">
                <div class="add-new-contact">
                    <form enctype="multipart/form-data" id="update-author-form" asp-action="UpdateAuthor"
                        asp-controller="Author" asp-area="Admin">
                        @Html.AntiForgeryToken()
                        <div class="d-flex justify-content-center">
                            <div class="account-profile d-flex align-items-center mb-4 ">
                                <div class="ap-img pro_img_wrapper">
                                    <input type="hidden" asp-for="AuthorId" id="author-id" />
                                    <input id="file-upload" type="file" asp-for="Image"
                                        accept="image/png, image/jpeg, image/jpg, image/webp, image/heic"
                                        class="d-none upload-avatar-input">
                                    <label for="file-upload">
                                        <img id="author-image" class="dm-upload-avatar avatrSrc ap-img__main rounded-circle wh-120 bg-lighter d-flex object-fit-cover"
                                            src="/img/svg/upload-image.svg" alt="profile">
                                        <span id="remove_pro_pic">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg">
                                                <path
                                                    d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                                                </path>
                                                <circle cx="12" cy="13" r="4"></circle>
                                            </svg>
                                        </span>
                                    </label>
                                </div>
                                <div class="account-profile__title">
                                    <h6 class="fs-18 ms-20 fw-500">Ảnh tác giả</h6>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-20">
                            <label>Tên tác giả</label>
                            <input type="text" class="form-control form-control-lg" id="author-name" asp-for="Name"
                                placeholder="Nhập tên tác giả">
                        </div>
                        <div class="form-group mb-20">
                            <label>Chức vụ hiện tại</label>
                            <input type="text" class="form-control form-control-lg" id="author-title" asp-for="Title"
                                placeholder="Nhập chức vụ hiện tại">
                        </div>
                        <div class="form-group mb-20">
                            <label>Địa chỉ tác giả</label>
                            <input type="text" class="form-control form-control-lg" id="author-address" asp-for="Address"
                                placeholder="Địa chỉ tác giả">
                        </div>
                        <div class="button-group d-flex pt-25 justify-content-end">
                            <button type="submit" class="confirm-btn btn btn-primary btn-rounded">Xác
                                nhận
                            </button>
                            <button type="button" class="btn btn-light btn-default btn-rounded"
                                data-bs-dismiss="modal">Huỷ bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
         const updateAuthorModal = document.getElementById('update-author');
        if (updateAuthorModal) {
            updateAuthorModal.addEventListener('show.bs.modal', function (event) {
                const dataContainer = $(event.relatedTarget).closest('.author-data-container');
                const authorData = {
                    id: dataContainer.data("id"),
                    name: dataContainer.data("name"),
                    title: dataContainer.data("title"),
                    address: dataContainer.data("address"),
                    image: dataContainer.data("image")
                }
                const modalData = {
                    authorId: $(updateAuthorModal).find('#author-id'),
                    authorName: $(updateAuthorModal).find('#author-name'),
                    authorTitle: $(updateAuthorModal).find('#author-title'),
                    authorAddress: $(updateAuthorModal).find('#author-address'),
                    authorImage: $(updateAuthorModal).find('#author-image'),

                }
                modalData.authorName.val(authorData.name)
                modalData.authorId.val(authorData.id)
                modalData.authorTitle.val(authorData.title)
                modalData.authorAddress.val(authorData.address)
                modalData.authorImage.attr('src', authorData.image)
            })
        }
        const validator = new JustValidate('#update-author-form', {
            validateBeforeSubmitting: true,
        });
        validator.addField('#author-name', [
            {
                rule: 'required',
                errorMessage: 'Trường này không được để trống',
            },
        ]);
        validator.addField('#author-title', [
            {
                rule: 'required',
                errorMessage: 'Trường này không được để trống',
            },
        ]);
        validator.addField('#author-address', [
            {
                rule: 'required',
                errorMessage: 'Trường này không được để trống',
            },
        ]);
        validator.onSuccess(function () {
            $('#update-author-form').submit();
        });
    });
</script>
