/* Error: Undefined mixin.
 *    ,
 * 1  | / @include md {
 * 2  | |   //Project
 * 3  | |   .project-category {
 * 4  | |     p {
 * 5  | |       margin-right: 20px;
 * 6  | |       margin-bottom: 0;
 * 7  | |     }
 * 8  | |   }
 * 9  | | 
 * 10 | |   //Invoice
 * 11 | |   .payment-invoice-qr {
 * 12 | |     flex-flow: column;
 * 13 | | 
 * 14 | |     .payment-invoice-qr__address,
 * 15 | |     .payment-invoice-qr__number {
 * 16 | |       text-align: center;
 * 17 | |     }
 * 18 | |   }
 * 19 | \ }
 *    '
 *   Styles/Sass/responsive.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include md {\a 2  \2502  \2502    //Project\a 3  \2502  \2502    .project-category {\a 4  \2502  \2502      p {\a 5  \2502  \2502        margin-right: 20px;\a 6  \2502  \2502        margin-bottom: 0;\a 7  \2502  \2502      }\a 8  \2502  \2502    }\a 9  \2502  \2502  \a 10 \2502  \2502    //Invoice\a 11 \2502  \2502    .payment-invoice-qr {\a 12 \2502  \2502      flex-flow: column;\a 13 \2502  \2502  \a 14 \2502  \2502      .payment-invoice-qr__address,\a 15 \2502  \2502      .payment-invoice-qr__number {\a 16 \2502  \2502        text-align: center;\a 17 \2502  \2502      }\a 18 \2502  \2502    }\a 19 \2502  \2514  }\a    \2575 \a   Styles/Sass/responsive.scss 1:1  root stylesheet";
}
