.customizer-overlay,.overlay-dark-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: visible;
    z-index: -1;
    background-color: var(--color-dark)
  }
  
  .customizer-overlay {
    background: rgba(16,18,33,.1882352941)
  }
  
  .customizer-overlay.show {
    opacity: 1;
    visibility: visible;
    z-index: 9998
  }
  
  body.top-menu .navbar-left .customizer-trigger+.top-menu {
    margin-left: 10px
  }
  
  .customizer-trigger {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 999;
    font-size: 14px;
    line-height: 1.4285714286;
    font-weight: 500;
    color: var(--color-gray);
    height: 34px;
    padding: 0 15px;
    background-color: var(--bg-lighter);
    border-radius: 50rem;
    margin-left: 10px;
    margin-right: 10px
  }
  
  .customizer-trigger svg path {
    fill: var(--color-gray)
  }
  
  .customizer-trigger i {
    margin-right: 8px;
    font-size: calc(16.2px + .15vw);
    fill: var(--color-gray)
  }
  
  .customizer-trigger:hover {
    background-color: rgba(var(--color-primary-rgba),.1);
    color: var(--color-primary)
  }
  
  .customizer-trigger:hover svg path {
    fill: var(--color-primary)
  }
  
  .customizer-trigger.show {
    right: 200px
  }
  
  .customizer-trigger img,.customizer-trigger svg {
    width: 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 8px
  }
  
  .customizer-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    -webkit-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
    height: 100vh;
    overflow-y: auto;
    background-color: var(--color-white);
    -webkit-box-shadow: 0 0 30px rgba(146,153,184,.062745098);
    box-shadow: 0 0 30px rgba(146,153,184,.062745098);
    z-index: 9999;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
  }
  
  .customizer-wrapper.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
  
  .customizer {
    height: 100%
  }
  
  .customizer__head {
    position: relative;
    padding: 18px 24px;
    border-bottom: 1px solid #f0f0f0;
    text-align: left
  }
  
  .customizer__head .customizer-close {
    position: absolute;
    right: 15px;
    top: 15px
  }
  
  .customizer__head .customizer-close i,.customizer__head .customizer-close svg {
    color: #ff4d4f
  }
  
  .customizer__head .customizer__sub-title {
    font-size: 14px
  }
  
  .customizer__title {
    font-weight: 600;
    font-size: calc(16.2px + .15vw);
    margin-bottom: 2px;
    color: var(--color-dark)
  }
  
  .customizer__body {
    padding: 25px
  }
  
  .customizer__single:not(:last-child) {
    margin-bottom: 35px
  }
  
  .customizer__single h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-dark)
  }
  
  .customizer-list {
    margin: -10px
  }
  
  .customizer-list__item {
    position: relative;
    display: inline-block;
    min-height: 60px;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 10px
  }
  
  .customizer-list__item a.active i,.customizer-list__item a.active svg {
    display: block
  }
  
  .customizer-list__item.top i,.customizer-list__item.top svg {
    top: 35px
  }
  
  .customizer-list__item:hover span {
    color: #5f63f2
  }
  
  .customizer-list__item a {
    position: relative;
    display: block
  }
  
  .customizer-list__item a i,.customizer-list__item a svg {
    display: none;
    font-size: 16px;
    margin-top: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--color-success)
  }
  
  .customizer-list__item img {
    width: 100%
  }
  
  .customizer-list__item span {
    display: inline-block;
    margin-top: 15px;
    color: var(--color-dark)
  }
  
  .navbar-left .customizer-trigger svg path {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition)
  }
  
  .layout-dark .customizer-wrapper {
    background-color: #323541
  }
  
  .layout-dark .customizer-wrapper .customizer__head {
    border-color: var(--border-color)
  }
  
  .layout-dark .customizer-trigger {
    background-color: var(--white-10);
    color: var(--white-60)
  }
  
  .layout-dark .customizer-trigger:hover {
    color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgba),.1)
  }
  
    .customizer-trigger i {
        font-size: 18px
    }
  
    .customizer__title {
        font-size: 18px
    }
  
    .customizer-overlay.show,.overlay-dark-sidebar.show {
        z-index: 99
    }
  
    .customizer-trigger svg {
        margin-right: 0
    }
  
    .customizer-trigger:hover svg path {
        fill: var(--color-white)
    }
  
    .customizer-trigger svg {
        margin: 0
    }
  
    .customizer-trigger img,.customizer-trigger svg {
        width: 25px
    }
    .customizer-wrapper {
        -webkit-transform: translateX(350px);
        -ms-transform: translateX(350px);
        transform: translateX(350px)
    }
  
    .layout-dark .customizer-trigger {
        background-color: var(--main-color);
        color: var(--white-60);
        -webkit-box-shadow: 0 5px 5px rgba(27,30,43,.3);
        box-shadow: 0 5px 5px rgba(27,30,43,.3)
    }
  
    .layout-dark .customizer-trigger:hover {
        background-color: var(--color-primary)
    }
  
    @media only screen and (max-width: 991px){
        .customizer-trigger {
            padding: 0;
            width: 35px;
            height: 35px;
        }
            
    .customizer-trigger i {
        margin-right: 0
    }
     .customizer-trigger span {
        display: none
        }
    }
    @media only screen and (max-width: 575px){
        .customizer-trigger {
            width: 50px;
            height: 50px;
            -webkit-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
            background-color: var(--color-primary);
            position: fixed;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0
        }
        .customizer-trigger i {
            color: var(--color-white);
        }
        
    }
  @-webkit-keyframes spinMove {
    100% {
        opacity: 1
    }
  }
  
  @keyframes spinMove {
    100% {
        opacity: 1
    }
  }
  
  @-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg)
    }
  }
  
  @keyframes rotate {
    100% {
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg)
    }
  }
  
  @-webkit-keyframes shimmerEffect {
    0% {
        background-position: -468px 0
    }
  
    100% {
        background-position: 468px 0
    }
  }
  
  @keyframes shimmerEffect {
    0% {
        background-position: -468px 0
    }
  
    100% {
        background-position: 468px 0
    }
  }
  
  @-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
  
    2% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
  
    4% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
  
    6% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }
  
    8% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }
  
    10% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }
  
    12% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
  
    14% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }
  
    16% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }
  
    18% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }
  
    20% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
  }
  
  @keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
  
    2% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
  
    4% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
  
    6% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }
  
    8% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }
  
    10% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }
  
    12% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
  
    14% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }
  
    16% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }
  
    18% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }
  
    20% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
  }
  