@using Microsoft.AspNetCore.Identity;
@model (List<IdentityRole> Roles, string? SelectedRole)
@foreach (var role in Model.Roles)
{
    bool IsSelected = role.Name == Model.SelectedRole;
    <option value="@role.Name" selected="@IsSelected">@role.Name</option>
}