<div class="modal fade new-member" id="toogle-visiable-category" data-bs-backdrop="static" role="dialog" tabindex="-1"
    aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h6 class="modal-title fs-5 fw-500" id="staticBackdropLabel">Ẩn danh mục sách</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="svg replaced-svg">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-3">
                <div class="new-member-modal">
                    <form asp-controller="Categories" asp-area="Admin" method="POST" id="toogle-visiable-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" class="category-id" />
                        <p class="mt-3 fs-6 fw-500 text-center">Bạn có chắc chắc muốn thực hiện thao tác với:
                            <span class="dm-tag tag-primary rounded-pill tag-transparented category-name">Sách kinh tế
                            </span>
                        </p>
                        <div class="button-group d-flex pt-10 justify-content-end">
                            <button type="submit" class="confirm-btn btn btn-primary btn-rounded">Xác
                                nhận
                            </button>
                            <button type="button" class="btn btn-light btn-default btn-rounded"
                                data-bs-dismiss="modal">Huỷ bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const hideCategoryModal = document.getElementById('toogle-visiable-category')
        if (hideCategoryModal) {
            hideCategoryModal.addEventListener('show.bs.modal', event => {
                const dataContainer = $(event.relatedTarget).closest('.category-data-container');
                const categoryData = {
                    id: dataContainer.data("id"),
                    name: dataContainer.data("name"),
                    visiable: dataContainer.data("visiable")
                }
                const modalData = {
                    modalTitle: $(hideCategoryModal).find('.modal-title'),
                    modalName: $(hideCategoryModal).find('.category-name'),
                    categoryId: $(hideCategoryModal).find('.category-id')
                }
                const form = $(hideCategoryModal).find('#toogle-visiable-form')
                const formAction = categoryData.visiable === "True" ? "/admin/categories/hide/category" : "/admin/categories/show/category"
                form.attr('action', formAction)
                modalData.modalTitle.text(categoryData.visiable === "True" ? 'Ẩn danh mục sách' : 'Hiện danh mục sách')
                modalData.modalName.text(categoryData.name)
                modalData.categoryId.val(categoryData.id)
            })
        }
    });
</script>
